<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <!-- <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p> -->

  </div>
  <div class="row fullscreen align-items-center justify-content-between">
    <div class="col-lg-6 col-md-6 banner-left">
      <h6>This is me</h6>
      <h1>Hari Gurumoorthi</h1>
      <p>
        Student in IT industry since 2000. Software Engineer by Education. CIO by Title at TaUB Solutions. Obessed with Learning through Gamification.
      </p>
      <a href="/about/" class="primary-btn text-uppercase">discover me</a>
    </div>
    <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
        <!--
      <img class="img-fluid" src="{{ site.author.image }}" alt="">
      -->
    </div>
  </div>

  {% include search.html %}

</div>