<!DOCTYPE html>

<html lang="en" class="h-100">

{% include head.html %}

<body class="d-flex flex-column h-100">

  <main class="flex-shrink-0 container mt-5">
  {% include navbar.html %}
  {{ content }}
  </main>

  {% include footer.html %}
  {% include scripts.html %}
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BX6RP6LL54"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BX6RP6LL54');
  </script>

</body>

</html>
